body {
    width: 60%;
    height: auto;
    margin: 0 auto;
    background-color: black;
    color: white;
}
h1 {
    text-align: center;
}
#background-game {
    width: 400px;
    height: 250px;
    background-image: url('images/Background.png');
    background-size: cover;
    margin-top: 50px;
    margin-bottom: 50px;
}
#pierre {
    width: 45px;
    height: 45px;
    background-image: url('images/Pierre.png');
    background-size: cover;
    cursor: pointer;
}
#feuille {
    width: 45px;
    height: 45px;
    background-image: url('images/Feuille.png');
    background-size: cover;
    cursor: pointer;
}
#ciseau {
    width: 45px;
    height: 45px;
    background-image: url('images/Ciseau.png');
    background-size: cover;
    cursor: pointer;
}
.contenu {
    display: Flex;
    justify-content: space-around;
}
#user-score {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 66px;
    top: 100px;
    left: 50px;
    width: 100px;
    height: 60px;
}
#cpu-score {
    position: absolute;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    line-height: 66px;
    top: 100px;
    right: 50px;
    width: 100px;
    height: 60px;
}
#img-user-choice {
    background-size: cover;
    position: relative;
    z-index: 2;
    top: 38px;
    left: 32px;
    width: 45px;
    height: 45px;
}
#img-cpu-choice {
    background-size: cover;
    position: relative;
    z-index: 2;
    top: 38px;
    right: 32px;
    width: 45px;
    height: 45px;
}
#footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 150px;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 66px;
}